<mat-card class="card">
  <mat-card-title>Deletar Produto</mat-card-title>

  <form action="">
    <mat-form-field>
      <input
        disabled
        matInput
        name="name"
        placeholder="Nome"
        [value]="product.name">
    </mat-form-field>
    <mat-form-field>
      <input
        disabled
        matInput
        name="price"
        placeholder="Preço (R$)"
        [value]="product.price">
    </mat-form-field>
  </form>

  <div class="button-actions">
    <button mat-raised-button (click)="onDelete()" color="warn">
      Deletar
    </button>

    <button mat-raised-button (click)="onCancel()">
      Cancelar
    </button>
  </div>
</mat-card>
