<mat-sidenav-container class="container">
  <mat-sidenav mode="side" fixedInViewport="true" fixedTopGap="64" opened class="sidenav">
    <mat-nav-list class="nav-list">
      <a mat-list-item>
        <i class="material-icons v-middle">
          home
        </i>
        Início
      </a>

      <a mat-list-item>
        <i class="material-icons v-middle">
          storefront
        </i>
        Produtos
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <app-home></app-home>
  </mat-sidenav-content>
</mat-sidenav-container>
a